.container {
  padding: 5rem 2rem 0;
  overflow: auto;
  align-items: top;
  background-color: #fafafa;
  // min-height: 100vh;
  width: calc(100vw);
  margin-left: -8px;
  box-sizing: border-box;

  .inside {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 2rem 0;
  }
}
