.main {
  background: linear-gradient(rgba(186, 160, 160, 0.2), rgba(68, 61, 61, 1)),
    url("../../asserts/tara_picture.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 160px);
  min-height: 100vh;
}

.text {
  position: relative;
  color: white;
  z-index: 100;
  align-items: center;
  text-align: center;
}

.photoCopyright {
  position: absolute;
  right: 2rem;
  font-size: 12px;
  bottom: 0;
  color: rgb(219, 215, 215);
  font-style: italic;
}

.buttonLink {
  font-size: 18px;
  border: 1.5px solid #ffffff;
  border-radius: 48px;
  padding: 0.5rem 1rem;
  color: white;
}

.buttonLink:hover {
  color: white;
  border: 2px solid #4faa66;
}

.image {
  width: 100%;
}

.blockSlider {
  padding: 0 2rem;
  background-color: rgba(184, 176, 162, 0.2);
  // background-color: rgb(212, 163, 57, 0.2);
}

.blockStages {
  padding-bottom: 5rem;
  // background-color: rgba(184, 176, 162, 0.2);
}

.blockCollapse {
  padding: 5rem 2rem 3rem;
  // background-color: #815836;
  // background-color: rgb(212, 163, 57, 0.6);
  background-color: rgba(212, 163, 57, 0.5);
  background-clip: padding-box;
}

.blockTitle {
  font-size: 28px;
  text-transform: uppercase;
  color: black;
  // padding-bottom: 20px;
}

.blockParticipation {
  padding: 5rem 2rem 3rem;
  background-color: rgba(184, 176, 162, 0.2);
}

.blockTeam {
  padding: 1rem 2rem;
}

.block {
  // margin-top: 100px;
  // background-color: green;
}

.blockIcons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: left;
  margin-bottom: 2rem;
  .logo {
    height: 52px;
  }
}

.blockText {
  font-size: 18px;
  margin-bottom: 2rem;
  flex-basis: 100%;
  // max-width: 50vw;
}

.mediaIcon {
  width: 40px;
}

.title {
  font-size: 54px;
}

.subtitle {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 50px;
}

.slide {
  padding: 6rem 2rem;
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 6rem;
  .quote {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .text {
      font-size: 18px;
      color: black;
      text-align: left;
    }
    .sign {
      font-size: 16px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
    }
  }
}

.photoColumn {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoFrame {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.photoFrame .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 24px;

  .card {
    background-color: white;
    border-radius: 20px;
    padding: 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 460px;
    // cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    // background-color: #ebd1a1;
    .cardTime {
      align-self: end;
      margin-bottom: 1rem;
      font-style: italic;
      font-size: 14px;
    }
    .cardTitle {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .cardButton {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      width: fit-content;
      text-align: right;
      background-color: rgba(79, 170, 101, 0.8);
      color: white;
      align-self: flex-end;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      margin-top: auto;
    }

    .cardButton2 {
      background-color: rgba(212, 163, 57, 1);
    }

    .cardImage {
      margin: -1rem -2rem -2rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      object-fit: cover;
      z-index: 11;
      height: fit-content;
      height: 200px;
      margin-bottom: 1rem;
      object-position: top left;
      max-width: calc(100% + 4rem);
    }

    .cardImageCentered {
      object-position: center;
    }
  }

  // .cardEvent {
  //   background-color: #c4d4f2;
  // }
}

.cardButton:hover {
  transform: scale(1.03);
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.blockList {
  list-style-type: none;
  font-size: 24px;
  columns: 2;
  column-width: 460px;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  margin-bottom: 4rem;

  .listElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  li {
    align-content: center;
    line-height: 3rem;
  }
  .blockListAdd {
    font-size: 18px;
    margin-top: 0;
  }
}

.rowSocials {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex: 1;
  .links {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin-bottom: 2rem;

  .blockMap {
    text-align: center;
  }
  .blockColumn {
    width: 100%;

    .taraMap {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
    }
  }
}

.eventCard {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    padding: 16px;

    .eventCardTitle {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }

    .eventCardSubtitle {
      font-size: 16px;
      color: #333;
      margin: 8px 0;
    }

    .eventCardButtons {
      display: flex;
      gap: 10px;
    }
  }
}

.btn {
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 0.3s;

  &--primary {
    background-color: #3973b0;
    color: #fff;

    &:hover {
      background-color: #285489;
    }
  }

  &--secondary {
    background-color: transparent;
    color: #3973b0;
    border: 2px solid #3973b0;

    &:hover {
      background-color: #3973b0;
      color: #fff;
    }
  }
}

// .card:hover {
//   transform: scale(1.03);
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
// }

.mediaIcon {
  width: 50px;
}

.collapsible {
  // background-color: #dfedfa;
  height: 100px;
}

.teamImg {
  width: 200px;
  border-radius: 20px;
}

@media (max-width: 1020px) {
  .main {
    // background-size: 80%;
  }
  .title {
    font-size: 42px;
  }
  .blockList {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main {
    // background-size: 60%;
  }

  .blockIcons {
    .logo {
      height: 40px;
    }
  }
  .slide {
    gap: 2rem;
  }
  .blockList {
    font-size: 18px;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    width: 100%;
    margin-bottom: 2rem;
  }

  .rowSocials {
    flex-direction: column;
    gap: 0;
  }
  .row {
    flex-direction: column;
    gap: 1rem;
    .taraMap {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 680px) {
  .blockIcons {
    flex-direction: column;
    gap: 0.5rem;
    .logo {
      object-fit: contain;
      height: 40px;
      width: 100%;
    }
  }
  // .blockTitle {
  //   text-align: center;
  // }
  // h3 {
  //   text-align: center;
  // }

  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
  }
  .slide {
    flex-direction: column-reverse;
    .quote {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      .text {
        text-align: center;
      }
    }
  }
  .blockText {
    max-width: 100%;
    // text-align: center;
  }
  .photoFrame {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 550px) {
  .photoFrame {
    width: 200px;
    height: 200px;
  }
}
