@font-face {
  font-family: "HSE Sans";
  src: local("HSE Sans Regular"), local("HSE Sans Regular"),
    url("HSESans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HSE Sans;
  src: url("HSESans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HSE Sans";
  src: url("HSESans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HSE Sans";
  src: url("HSESans-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HSE Sans";
  src: url("HSESans-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
