.card {
  width: 420px;
  height: 220px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
  }
  .inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .text {
      color: gray;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.textModal {
  color: gray;
  max-height: 200px;
  overflow: auto;
}

.title {
  color: "#939598";
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ideaName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.likeSection {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: end;
  // margin: 1rem 0;
}

.cardImage {
  width: 200px;
  height: auto;
  border-radius: 20px;
}

.contentModal {
  max-height: 50vh;
  overflow: auto;
}
