.footer__wrapper {
  // background-color: #79b0d6;
  background-color: #d4a33980;
  min-height: 150px;
  padding: 0;
}

.footer {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  box-sizing: border-box;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.logoDom {
  height: 50px;

  filter: invert(100%) brightness(2);
}

.logoHseUni {
  height: 50px;
}

.logoHse {
  height: 40px;
}

.logoCity {
  height: 20px;
  object-fit: cover;
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.logoColumn {
  display: flex;
  // flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.whiteLogo {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.email {
  display: flex;
  // flex-direction: column;
  gap: 1rem;

  .emailTitle {
    color: white;
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  .logos {
    display: none;
  }
}

@media (max-width: 1020px) {
  .logos {
    flex-direction: column;
  }
}
