.card {
  max-height: 200px;
  display: block;
  overflow: auto;
  padding-inline-start: 8px;
}

.titleMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleSingle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;
  gap: 5px;
}
