.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: #8585ad;
}
